@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {

  --primary: #16a34a;
  --background: #0b0f0c;
  --card: #111714;
  --text: #e5e7eb;
  --secondary: #9ca3af;
  --border: #1f2937;

}

body {

  font-family: 'Inter', sans-serif;
  margin: 0;
  background: var(--background);
  color: var(--text);

}


/* HEADER */

header {

  text-align: center;
  padding: 60px 20px;

  background: linear-gradient(135deg,#0f1f17,#123322);

}

.profile-pic {

  width: 140px;
  border-radius: 50%;
  border: 4px solid var(--primary);

}


/* NAVBAR */

nav {

  background: #111;
  border-bottom: 1px solid var(--border);

}

nav ul {

  display: flex;
  justify-content: center;
  list-style: none;
  padding: 15px;
  margin: 0;
  gap: 20px;

}

nav a {

  color: var(--secondary);
  text-decoration: none;

}

nav a:hover {

  color: var(--primary);

}


/* SECTIONS */

section {

  max-width: 900px;
  margin: 30px auto;
  padding: 30px;

  background: var(--card);

  border-radius: 12px;

  border: 1px solid var(--border);

}


h2 {

  color: var(--primary);

}


article {

  padding: 20px;
  border: 1px solid var(--border);
  margin-bottom: 15px;
  border-radius: 10px;

}

article:hover {

  border-color: var(--primary);

}


footer {

  text-align: center;
  padding: 20px;
  color: var(--secondary);

}


/* RESPONSIVE */

@media(max-width:768px){

  section{
    margin:20px;
  }

}

